<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="page accueil de loventoutou" />
		<link rel="stylesheet" href="index.css" />
		<link
			href="https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap"
			rel="stylesheet"
		/>
		<link rel="icon" href="favicon.ico" type="image/x-icon" />
		<title>LovenToutou</title>
	</head>
	<body>
		{% block content %}{% endblock %}
	</body>
	<footer>
		<img
			src="L:\SideProject\LovenToutou\src\mysite\loventoutou\templates\loventoutou\logo\tinderToutouLogo_v3.5.png"
			alt="logo"
		/>
	</footer>
</html>
