<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="page accueil de loventoutou" />
		<link rel="stylesheet" href="../../static/CSS/index.css" />
		<link
			href="https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="icon"
			href="../../static/logo/favicon-16x16.png"
			type="image/x-icon"
		/>
		<title>LovenToutou</title>
	</head>
	<body>
		<header>
			<img src="../../static/logo/tinderToutouLogo_v3.5.png" alt="logo" />
			<h1><strong>Bienvenue sur LovenToutou</strong></h1>
			<nav class="topnav">
				<a onclick="window.location.href = '/';">Accueil</a>
			</nav>
		</header>
		<main>
			<h1>Votre profil</h1>
			<p>Vous êtes connecté !</p>
			<p>
				Ici vous pouvez modifier vos informations si nécessaire. <br />
				Vous pouvez créer le profil de votre animal avec toutes les informations
				requises. <br />
				Vous pouvez aussi supprimer votre compte
			</p>

			<!-- edit_profile.html -->
			<form method="post">
				{% csrf_token %} {{ form.as_table }}
				<button type="submit">Enregistrer les modifications</button>
			</form>
		</main>
		<footer>
			<p class="p5">mentions légales :</p>
			<p>
				Cette applicatione est créée dans le cadre d'une reconversion
				professionnelle. <br />
				En aucun cas elle ne saurait être mise en ligne à des fins commerciales.
			</p>
			<img src="../../static/logo/tinderToutouLogo_v3.5.png" alt="logo" />
		</footer>
	</body>
</html>
