<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="page accueil de loventoutou" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
			integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<link rel="stylesheet" href="../../static/CSS/index.css" />
		<link
			href="https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="icon"
			href="../../static/logo/favicon-16x16.png"
			type="image/x-icon"
		/>
		<title>LovenToutou</title>
	</head>

	<header>
		<img src="../../static/logo/tinderToutouLogo_v3.5.png" alt="logo" />
		<div>
			<h1>LovenToutou</h1>
			<h2>
				L'application des éleveurs 2.0 Touvez le partenaire idéal pour votre
				chien
			</h2>
		</div>
		<nav class="topnav">
			<a onclick="window.location.href = '/login_page';">Connectez-vous</a>
			<!-- les 2 boutons fonctionnent on n'y touche plus -->
			<a onclick="window.location.href = '/register';"
				>première visite, Inscrivez-vous</a
			>
			<!-- en tete - logo -->
		</nav>
	</header>
	<main>
		<body>
			<div class="hero">
				<img
					class="img-hero"
					src="../../static/images/ai-generated-8712229_1280.png"
					alt="image de chien"
				/>
				<div class="text-right">
					<section>
						<i class="fa-solid fa-shield-dog"></i>
						<dl>
							<dt>Profil personnel de l'animal</dt>
							<dd>
								Personnalisez le profil de votre animal avec des photos, du
								texte et le dossier médical avec les tests génétiques
								obligatoires
							</dd>
						</dl>
					</section>
					<section>
						<i class="fa-solid fa-shield-heart"></i>
						<dl>
							<dt><strong>Facile à utiliser</strong></dt>
							<dd>
								Vous recherchez un nouveau reproducteur pour votre femelle (ou
								l'inverse) ; vous souhaitez amener du sang nouveau dans votre
								élevage ; vous souhaitez une nouvelle couleur, renforcer une
								caractéristique déjà présente : créez votre compte et commencer
								à liker !
							</dd>
						</dl>
					</section>
					<section>
						<i class="fa-solid fa-star-of-life"></i>
						<dl>
							<dt><strong>Dossier médical obligatoire</strong></dt>
							<dd>
								Questionnaire de santé à remplir, vaccin, tests génétiques, etc
							</dd>
						</dl>
					</section>
				</div>
			</div>
		</body>
	</main>
	<footer>
		<p class="p5">mentions légales :</p>
		<p>
			Cette applicatione est créée dans le cadre d'une reconversion
			professionnelle. <br />
			En aucun cas elle ne saurait être mise en ligne à des fins commerciales.
		</p>
		<img src="../../static/logo/tinderToutouLogo_v3.5.png" alt="logo" />
	</footer>
</html>
