<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="page accueil de loventoutou">
    <link rel="stylesheet" href="index.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <title>Bienvenu sur LovenToutou</title>
  </head>

  <header>
    <img src="L:\SideProject\LovenToutou\src\mysite\loventoutou\templates\loventoutou\logo\tinderToutouLogo_v3.5.png" alt="logo">
    <h1><strong>Bienvenue sur LovenToutou</strong></h1>
    <nav>
      <button onclick="window.location.href = 'connexion.html';">Connectez-vous</button>
      <!-- doit amener sur la page connexion.html / Done-->
      <button onclick="window.location.href = 'register.html';">première visite, Inscrivez-vous</button>
      <!-- doit aussi amener sur la page register.html / Done-->
      <!-- en tete - logo -->
    </nav>
  </header>

  <main>
    <body>
      <div class="banniere">
      </div>
      <section>
      <h2>L'application des éleveurs malins</h2>
      <p>Touvez le partenaire idéal pour votre chien :</p>
      </section>
      <section>
      <dl>
        <dt><strong> profil personnel de l'animal</strong></dt>
        <dd>
          Personnaliser le profil avec des photos, du texte, et bien entendu le
          dossier médical avec les tests génétiques obligatoires
        </dd>
      </section>
      <section>
        <dt><strong>facile à utiliser</strong></dt>
        <dd>
          Vous rechercher un étalon pour votre chienne, ou une chienne pour
          votre étalon ; vous souhaitez amener du sang nouveau dans votre
          élevage, swipez et likez
        </dd>
      </section>
      <section>
        <dt><strong>dossier médical obligatoire</strong></dt>
        <dd>Questionnaire de santé à remplir</dd>
      </dl>
      </section>
      
    </body>
  </main>
  <footer>
    <p>mentions légales :</p>
    <p>Cette applicatione est créée dans le but d'un apprentissage en vue d'une reconversion <br>
    professionnelle. En aucun cas elle ne saurait être mise en ligne à des fins commerciales </p>
    <img src="L:\SideProject\LovenToutou\src\mysite\loventoutou\templates\loventoutou\logo\tinderToutouLogo_v3.5.png" alt="logo">
    <!--pied de page - info complémentaires - logo -->
  </footer>
</html>
