{% extends 'loventoutou/base.html' %}
{% load static %}
{% block content %}

  <header>
    <img src="{% static 'tinderToutouLogo_v3.5.png'%}" alt="logo">
    <h1><strong>Bienvenue sur LovenToutou</strong></h1>
    <nav>
      <button onclick="window.location.href = 'connexion';">Connectez-vous</button> 
      <!-- les 2 boutons fonctionnent on n'y touche plus -->
      <button onclick="window.location.href = 'register';">première visite, Inscrivez-vous</button>
      <!-- en tete - logo -->
    </nav>
  </header>

  <main>
    <body>
      <div class="banniere">
      </div>
      <section>
      <h2>L'application des éleveurs 3.0</h2>
      <p>Touvez le partenaire idéal pour votre chien :</p>
      </section>
      <section>
      <dl>
        <dt><strong> profil personnel de l'animal</strong></dt>
        <dd>
          Personnaliser le profil avec des photos, du texte, et bien entendu le
          dossier médical avec les tests génétiques obligatoires
        </dd>
      </section>
      <section>
        <dt><strong>facile à utiliser</strong></dt>
        <dd>
          Vous rechercher un étalon pour votre chienne, ou une chienne pour
          votre étalon ; vous souhaitez amener du sang nouveau dans votre
          élevage, créez votre compte et commencer à liker !
        </dd>
      </section>
      <section>
        <dt><strong>dossier médical obligatoire</strong></dt>
        <dd>Questionnaire de santé à remplir</dd>
      </dl>
      </section>
      
    </body>
  </main>
  <footer>
    <p>mentions légales :</p>
    <p>Cette applicatione est créée dans le but d'un apprentissage en vue d'une reconversion <br>
    professionnelle. En aucun cas elle ne saurait être mise en ligne à des fins commerciales </p>
    <!--pied de page - info complémentaires - logo -->
  </footer>

{% endblock %}