<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="page accueil de loventoutou" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
			integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<link rel="stylesheet" href="../../static/CSS/index.css" />
		<link
			href="https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="icon"
			href="../../static/logo/favicon-16x16.png"
			type="image/x-icon"
		/>
		<title>LovenToutou</title>
	</head>
	<header>
		<img src="../../static/logo/tinderToutouLogo_v3.5.png" alt="logo" />
		<h1><strong>Bienvenue sur LovenToutou</strong></h1>
	</header>

	<!-- Utilise la balise static pour générer le chemin correct -->
	<title>TinderToutou</title>
	<body>
		<h1>Il est temps de swiper</h1>
		<!-- mettre photo de profil + caractéristiques du modele Dog
    + quelques infos de l'éleveur, insertion de variable de gabarit à l'aide des {} -->
	</body>
	<footer>
		<p class="p5">mentions légales :</p>
		<p>
			Cette applicatione est créée dans le but d'un apprentissage en vue d'une
			reconversion <br />
			professionnelle. En aucun cas elle ne saurait être mise en ligne à des
			fins commerciales
		</p>
		<img src="../../static/logo/tinderToutouLogo_v3.5.png" alt="logo" />
	</footer>
</html>
