<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="page register de loventoutou" />
		<link
			rel="stylesheet"
			href="L:\SideProject\LovenToutou\src\mysite\loventoutou\static\CSS\index.css"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap"
			rel="stylesheet"
		/>
		<link rel="icon" href="favicon.ico" type="image/x-icon" />
		<title>LovenToutou</title>
	</head>

	<header>
		<img
			src="L:\SideProject\LovenToutou\src\mysite\loventoutou\static\logo\tinderToutouLogo_v3.5.png"
			alt="logo"
		/>
		<h1><strong>Bienvenue sur LovenToutou</strong></h1>
		<nav>
			<button onclick="window.location.href = 'connexion';">
				Connectez-vous
			</button>
			<!-- les 2 boutons fonctionnent on n'y touche plus -->
			<button onclick="window.location.href = 'register';">
				première visite, Inscrivez-vous
			</button>
			<!-- en tete - logo -->
		</nav>
	</header>
	<body>
		<div class="banniere"></div>
		<div>
			<button onclick="window.location.href = 'index';">Accueil</button>
		</div>
		<h1>Créez votre compte</h1>
		<div class="Inscrivez-vous">
			<p>
				Pour une expérience sécurisée et sereine, remplissez ce formulaire pour
				votre inscription, tous les champs sont obligatoires. Ces informations
				sont demandées pour nous assurer que vous êtes un éleveur déclaré auprès
				des autorités.
			</p>

			<form method="post">
				{% csrf_token %}
				<table>
					{{ form.as_table }}
				</table>

				<button onclick="window.location.href = 'profil';">Enregistrer</button>
				<!-- <button type="submit">Enregistrer</button> -->
			</form>
		</div>
	</body>
</html>
