<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="page accueil de loventoutou" />
		<link rel="stylesheet" href="../../static/CSS/index.css" />
		<link
			href="https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="icon"
			href="../../static/logo/favicon-16x16.png"
			type="image/x-icon"
		/>
		<title>LovenToutou</title>
	</head>
	<body>
		<header>
			<img src="../../static/logo/tinderToutouLogo_v3.5.png" alt="logo" />
			<h1><strong>Bienvenue sur LovenToutou</strong></h1>
			<nav class="topnav">
				<a onclick="window.location.href = '/';">Accueil</a>
			</nav>
		</header>
		<main>
			<h1>Votre profil</h1>
			<p>
				Ici vous pouvez modifier vos informations si nécessaire. <br />
				Vous pouvez créer le profil de votre animal avec toutes les informations
				requises. <br />
				Vous pouvez aussi supprimer votre compte
			</p>
			{% if owners %}
			<div class="content_bdd">
				<ul>
					{% for owner in owners %}
					<li>
						<strong>Prénom :</strong> {{ owner.first_name }}<br />
						<strong>Nom :</strong> {{ owner.last_name }}<br />
						<strong>Elevage :</strong> {{ owner.breeding_name }}<br />
						<strong>Numéro de Siret :</strong> {{ owner.siret_number }}<br />
						<strong>Adresse :</strong> {{ owner.complete_adress }}<br />
						<strong>Numéro de Téléphone:</strong> {{ owner.phone_number }}<br />
						<strong>Adresse Mail :</strong> {{ owner.mail_owner }}<br />
						<strong>Mot de passe :</strong> {{ owner.password }}<br />
						<!-- Ajoutez d'autres attributs de Owner selon votre modèle -->
					</li>
					{% endfor %}
				</ul>
				{% else %}
				<p>Aucun profil trouvé.</p>
				{% endif %}
			</div>
		</main>

		<footer>
			<p class="p5">mentions légales :</p>
			<p>
				Cette applicatione est créée dans le cadre d'une reconversion
				professionnelle. <br />
				En aucun cas elle ne saurait être mise en ligne à des fins commerciales.
			</p>
			<img src="../../static/logo/tinderToutouLogo_v3.5.png" alt="logo" />
		</footer>
	</body>
</html>
