<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="page accueil de loventoutou" />
		<link rel="stylesheet" href="../../static/CSS/index.css" />
		<link
			href="https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="icon"
			href="../../static/logo/favicon-16x16.png"
			type="image/x-icon"
		/>
		<title>LovenToutou</title>
	</head>

	<header>
		<img src="../../static/logo/tinderToutouLogo_v3.5.png" alt="logo" />
		<h1><strong>Bienvenue sur LovenToutou</strong></h1>
		<nav>
			<button onclick="window.location.href = 'connexion';">
				Connectez-vous
			</button>
			<!-- les 2 boutons fonctionnent on n'y touche plus -->
			<button onclick="window.location.href = 'register';">
				première visite, Inscrivez-vous
			</button>
			<!-- en tete - logo -->
		</nav>
	</header>

	<!-- Utilise la balise static pour générer le chemin correct -->
</html>
<body>
	<h1>Votre page</h1>
</body>

<!--   -->
